<html>
    <head>
        <meta charset="utf-8" width="device-width" initial-scale="1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('landingpage') }}">About Me</a></li>
                <li><a href="{{ url_for('myresume') }}">My Resume</a></li>
                <li><a href="{{ url_for('contactme') }}">Contact Me</a></li>
              </ul>
            </div>
          </nav>
        <div class="container">
            <div class="row">
                <h2 style="text-align: center">About Me</h2>
            </div>

            <div class="row">
                <div class="panel">
                    { About Me here... }
                </div>
            </div>

        </div>
    </body>
    <footer>
        <p class="copyright">&copy; 2019 - Austin Ridings</p>
    </footer>

</html>